In [4]:
#Variable argument function, we can pass as many arguments we want

def add(*args):
    return sum(args)

In [5]:
add(1,2,3)

6

In [6]:
add(4,7)

11

In [9]:
#Modulus 
4%9

4

In [12]:
# ^ (POWER OF)
2**2

4

In [14]:
# In this case is strongly typed

8>"5" #TypeError

TypeError: '>' not supported between instances of 'int' and 'str'

In [16]:
days_subscribed=30

In [17]:
## Python doesn't have a switch statement

if days_subscribed>=30:
    print("Loyal Customer")
elif days_subscribed>=15:
    print("halfway there")
elif days_subscribed>=1:
    print ("Building confidence")
else:
    print("too early")

Loyal Customer

In [18]:
names=["Monica","Oscar","Luis"]

In [28]:
#for...in is like For...Each in other languages

for x in enumerate(names):
    print(x)

(0, 'Monica')
(1, 'Oscar')
(2, 'Luis')

In [33]:
#inicial
Count=0

In [35]:
while Count<3:
    print("Counting")
    Count+=1 #paso para avanzar la iteraciÃ³n

Counting
Counting
Counting

In [36]:
l="Python Master"

In [38]:
names.append(l)
names

['Monica', 'Oscar', 'Luis', 'Python Master', 'Python Master']

In [39]:
names[-1]

'Python Master'

In [40]:
"Python Master" in names

True

In [71]:
### Dictionaries (like JSON) and Sets are unordered Data Structures, don't have index in spite of that Sets and Dict order by number and letter not by index
#if we create DataFrames we can insert a Dictionary and then apply an order with index=[...]


Dict={"name":"oscar",
      "lastname":"guerra",
      "age":"25",
     }

Set={1,1,2,2,3,3,5,4,16,25,30,78}

In [72]:
Set

{1, 2, 3, 4, 5, 16, 25, 30, 78}

In [73]:
Set.add(10)

In [74]:
Set

{1, 2, 3, 4, 5, 10, 16, 25, 30, 78}

In [75]:
Set.pop()

1

In [76]:
Set

{2, 3, 4, 5, 10, 16, 25, 30, 78}

In [77]:
9 in Set

False

In [78]:
1 in Set

False

In [80]:
#To check in Sets is way faster than in a list

3 in Set

True

In [81]:
for key in Dict:
    print(key.title())

Name
Lastname
Age

In [83]:
for key in Dict:
    print(key.title(),"==>", Dict[key])

Name ==> oscar
Lastname ==> guerra
Age ==> 25

In [84]:
for values in Dict.values():
    print(values)

oscar
guerra
25

In [91]:
for key,values in Dict.items():
    print(key,values)

name oscar
lastname guerra
age 25

In [90]:
for key,values in Dict.items():
    print(f"{key}:{values}")

name:oscar
lastname:guerra
age:25

In [92]:
for i in range(5):
    print(i)

0
1
2
3
4

In [93]:
import random

In [95]:
random.randint(0,99)

80

In [96]:
age="30"

In [97]:
if age>21:
    print("allowed entrance")

TypeError: '>' not supported between instances of 'str' and 'int'

In [102]:
#try..except is like try...catch

try:
    if age>21:
        print("allowed entrance")
except:
    print("something went wrong")

something went wrong

In [104]:
try:
    if age>21:
        print("allowed entrance")
except TypeError:              #name it to be more explicit can be whatever you know 
    print("something went wrong")

something went wrong