In [9]:
import sys
sys.path.append('/home/oscar/py_envs/lib/python3.12/site-packages')

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [10]:
import numpy as np
import pandas as pd

# DATAFRAME

A Dataframe column is like a Serie

In [11]:
D=np.random.randint(100, size=(1,6), dtype="int8")

In [12]:
D

array([[52, 81, 39, 78, 12, 99]], dtype=int8)

In [13]:
df=pd.DataFrame({
    "Population" : [42, 63, 19, 76, 27,  8],
    "GDP" : [
        17648125,
        56894236,
        15182159,
        15418415,
        41541541,
        46549863
    ],
    "Surface Area":[
        151854,
        416414,
        4151664,
        251854,
        154185,
        1515
    ],
    "HDI":[
        0.91,
        0.89,
        0.88,
        0.90,
        0.897,
        0.91    
    ],
    "Continent":[
        "Europe",
        "America",
        "Asia",
        "America",
        "Europe",
        "America"
    ] 
}, columns=["Population", "GDP", "Surface Area", "HDI", "Continent"])

# the columns attribute is optional

In [14]:
df.index=["Germany","Argentina","Japan","United States","Italy","Canada"]

In [6]:
# A DataFrame is pretty much like a 2D NumPy array

df

               Population       GDP  Surface Area    HDI Continent
Germany                42  17648125        151854  0.910    Europe
Argentina              63  56894236        416414  0.890   America
Japan                  19  15182159       4151664  0.880      Asia
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe
Canada                  8  46549863          1515  0.910   America

## Pandas Functions

In [56]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [57]:
df.size

30

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Germany to Canada
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    6 non-null      int64
 1   GDP           6 non-null      int64
 2   Surface Area  6 non-null      int64
 3   HDI           6 non-null      float64
 4   Continent     6 non-null      object
dtypes: float64(1), int64(3), object(1)
memory usage: 288.0+ bytes

In [59]:
df.shape

(6, 5)

In [60]:
df.describe()

       Population           GDP  Surface Area       HDI
count    6.000000  6.000000e+00  6.000000e+00  6.000000
mean    39.166667  3.220572e+07  8.545810e+05  0.897833
std     26.301458  1.836286e+07  1.620995e+06  0.011669
min      8.000000  1.518216e+07  1.515000e+03  0.880000
25%     21.000000  1.597584e+07  1.524368e+05  0.891750
50%     34.500000  2.959483e+07  2.030195e+05  0.898500
75%     57.750000  4.529778e+07  3.752740e+05  0.907500
max     76.000000  5.689424e+07  4.151664e+06  0.910000

In [63]:
# dtypes (pandas) not dtype as in numpy
# object in this case is a string basically

df.dtypes

Population        int64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [64]:
df.dtypes.value_counts()

int64      3
float64    1
object     1
Name: count, dtype: int64

In [65]:
df

               Population       GDP  Surface Area    HDI Continent
Germany                42  17648125        151854  0.910    Europe
Argentina              63  56894236        416414  0.890   America
Japan                  19  15182159       4151664  0.880      Asia
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe
Canada                  8  46549863          1515  0.910   America

## Filtering in Pandas DataFrames (The returned results are Series)

### By index

In [7]:
df.loc["Canada"]

Population             8
GDP             46549863
Surface Area        1515
HDI                 0.91
Continent        America
Name: Canada, dtype: object

### By sequential position

In [8]:
df.iloc[-1]

Population             8
GDP             46549863
Surface Area        1515
HDI                 0.91
Continent        America
Name: Canada, dtype: object

### By Column (Series in the DataFrame)

In [15]:
df["Population"]

Germany          42
Argentina        63
Japan            19
United States    76
Italy            27
Canada            8
Name: Population, dtype: int64

In [16]:
df

               Population       GDP  Surface Area    HDI Continent
Germany                42  17648125        151854  0.910    Europe
Argentina              63  56894236        416414  0.890   America
Japan                  19  15182159       4151664  0.880      Asia
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe
Canada                  8  46549863          1515  0.910   America

In [19]:
#Prettier than just calling by column name
df["Population"].to_frame()

               Population
Germany                42
Argentina              63
Japan                  19
United States          76
Italy                  27
Canada                  8

### Slicing

In [20]:
df[["Population","GDP"]]

               Population       GDP
Germany                42  17648125
Argentina              63  56894236
Japan                  19  15182159
United States          76  15418415
Italy                  27  41541541
Canada                  8  46549863

In [23]:
df.loc["Argentina":"Italy"]

               Population       GDP  Surface Area    HDI Continent
Argentina              63  56894236        416414  0.890   America
Japan                  19  15182159       4151664  0.880      Asia
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe

In [34]:
# WITH A SECOND DIMENSION
#loc just for objects (strings) 
          #Keys             #Columns value as a "list" in reality they are NumPy arrays
df.loc["Argentina":"Italy", ["Continent","Surface Area"]]

              Continent  Surface Area
Argentina       America        416414
Japan              Asia       4151664
United States   America        251854
Italy            Europe        154185

In [35]:
df.iloc[[0,2,3,-1]]

               Population       GDP  Surface Area   HDI Continent
Germany                42  17648125        151854  0.91    Europe
Japan                  19  15182159       4151664  0.88      Asia
United States          76  15418415        251854  0.90   America
Canada                  8  46549863          1515  0.91   America

In [36]:
#iloc just for numbers

df.iloc[0:3, 3]

Germany      0.91
Argentina    0.89
Japan        0.88
Name: HDI, dtype: float64

### Boolean Assessment

In [53]:
# RETURNS A SERIE

df["Population"] > 70

Germany          False
Argentina        False
Japan            False
United States     True
Italy            False
Canada           False
Name: Population, dtype: bool

### Boolean filtering

In [58]:
# By Columns RETURNS A DATAFRAME

df[df["Population"]>70]

               Population       GDP  Surface Area  HDI Continent
United States          76  15418415        251854  0.9   America

In [59]:
#By Columns but less code-efficient RETURNS A DATAFRAME

#Condition to asses the indexes, #The returns we want to see
df.loc[df["Population"]>50, ["GDP","HDI"]]

                    GDP   HDI
Argentina      56894236  0.89
United States  15418415  0.90

### DROPPING (LIKE DISCARD)

In [60]:
#BY INDEX
df.drop(["Canada","Japan"])

               Population       GDP  Surface Area    HDI Continent
Germany                42  17648125        151854  0.910    Europe
Argentina              63  56894236        416414  0.890   America
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe

In [61]:
#BY COLUMNS
df.drop(columns=["Population","GDP"])

               Surface Area    HDI Continent
Germany              151854  0.910    Europe
Argentina            416414  0.890   America
Japan               4151664  0.880      Asia
United States        251854  0.900   America
Italy                154185  0.897    Europe
Canada                 1515  0.910   America

### OPERATIONS

In [70]:
#To broadcast or vectorize
crisis=pd.Series([-1_000_000,-0.3],index=["GDP","HDI"])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [71]:
#THE RESULT WILL BE WITH 1000000 less in GDP and 0.3 less in HDI
df[["GDP","HDI"]]+crisis

                      GDP    HDI
Germany        16648125.0  0.610
Argentina      55894236.0  0.590
Japan          14182159.0  0.580
United States  14418415.0  0.600
Italy          40541541.0  0.597
Canada         45549863.0  0.610

### Modifying a frame

In [73]:
langs=pd.Series(["Japanese","English","Italian"],
                 index=["Japan", "United States","Italy"],
                 name="Languages")

In [74]:
df["Language"]=langs

In [75]:
df

               Population       GDP  Surface Area    HDI Continent  Language
Germany                42  17648125        151854  0.910    Europe       NaN
Argentina              63  56894236        416414  0.890   America       NaN
Japan                  19  15182159       4151664  0.880      Asia  Japanese
United States          76  15418415        251854  0.900   America   English
Italy                  27  41541541        154185  0.897    Europe   Italian
Canada                  8  46549863          1515  0.910   America       NaN

In [76]:
df["Language"]="Lang"

In [78]:
df

               Population       GDP  Surface Area    HDI Continent Language
Germany                42  17648125        151854  0.910    Europe     Lang
Argentina              63  56894236        416414  0.890   America     Lang
Japan                  19  15182159       4151664  0.880      Asia     Lang
United States          76  15418415        251854  0.900   America     Lang
Italy                  27  41541541        154185  0.897    Europe     Lang
Canada                  8  46549863          1515  0.910   America     Lang

In [80]:
df.rename(
    columns={
        "HDI":"Human Development Index",
        "Anual Popcorn Consumption":"APC"
        #This last one is one example that doesn't modify anything
    },
    index={
        "USA":"United States",
        "UK":"United Kingdom"
    }
    
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Germany,42,17648125,151854,0.910,Europe,Lang
Argentina,63,56894236,416414,0.890,America,Lang
Japan,19,15182159,4151664,0.880,Asia,Lang
United States,76,15418415,251854,0.900,America,Lang
Italy,27,41541541,154185,0.897,Europe,Lang
Canada,8,46549863,1515,0.910,America,Lang

In [81]:
df

               Population       GDP  Surface Area    HDI Continent Language
Germany                42  17648125        151854  0.910    Europe     Lang
Argentina              63  56894236        416414  0.890   America     Lang
Japan                  19  15182159       4151664  0.880      Asia     Lang
United States          76  15418415        251854  0.900   America     Lang
Italy                  27  41541541        154185  0.897    Europe     Lang
Canada                  8  46549863          1515  0.910   America     Lang

### Adding a new column with an operation between the existing columns

In [82]:
df["GDP Per Capita"]=df["GDP"]/df["Population"]
df

,Population,GDP,Surface Area,HDI,Continent,Language,GDP Per Capita
Germany,42,17648125,151854,0.910,Europe,Lang,4.201935e+05
Argentina,63,56894236,416414,0.890,America,Lang,9.030831e+05
Japan,19,15182159,4151664,0.880,Asia,Lang,7.990610e+05
United States,76,15418415,251854,0.900,America,Lang,2.028739e+05
Italy,27,41541541,154185,0.897,Europe,Lang,1.538576e+06
Canada,8,46549863,1515,0.910,America,Lang,5.818733e+06

In [83]:
df.head()

,Population,GDP,Surface Area,HDI,Continent,Language,GDP Per Capita
Germany,42,17648125,151854,0.910,Europe,Lang,4.201935e+05
Argentina,63,56894236,416414,0.890,America,Lang,9.030831e+05
Japan,19,15182159,4151664,0.880,Asia,Lang,7.990610e+05
United States,76,15418415,251854,0.900,America,Lang,2.028739e+05
Italy,27,41541541,154185,0.897,Europe,Lang,1.538576e+06

In [86]:
#Just a "Series"
df["GDP"]/df["Population"]

Germany          4.201935e+05
Argentina        9.030831e+05
Japan            7.990610e+05
United States    2.028739e+05
Italy            1.538576e+06
Canada           5.818733e+06
dtype: float64