In [1]:
import sys
sys.path.append('/home/oscar/py_envs/lib/python3.12/site-packages')

In [2]:
import numpy as np
import pandas as pd

# DATAFRAME

A Dataframe column is like a Serie

In [11]:
D=np.random.randint(100, size=(1,6), dtype="int8")

In [12]:
D

array([[47, 13, 54, 11, 68, 51]], dtype=int8)

In [13]:
df=pd.DataFrame({
    "Population" : [42, 63, 19, 76, 27,  8],
    "GDP" : [
        17648125,
        56894236,
        15182159,
        15418415,
        41541541,
        46549863
    ],
    "Surface Area":[
        151854,
        416414,
        4151664,
        251854,
        154185,
        1515
    ],
    "HDI":[
        0.91,
        0.89,
        0.88,
        0.90,
        0.897,
        0.91    
    ],
    "Continent":[
        "Europe",
        "America",
        "Asia",
        "America",
        "Europe",
        "America"
    ] 
}, columns=["Population", "GDP", "Surface Area", "HDI", "Continent"])

# the columns attribute is optional

In [14]:
df.index=["Germany","Argentina","Japan","United States","Italy","Canada"]

In [15]:
# A DataFrame is pretty much like a 2D NumPy array

df

               Population       GDP  Surface Area    HDI Continent
Germany                42  17648125        151854  0.910    Europe
Argentina              63  56894236        416414  0.890   America
Japan                  19  15182159       4151664  0.880      Asia
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe
Canada                  8  46549863          1515  0.910   America

## Pandas Functions

In [73]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent',
       'GDP Per Capita', 'Language'],
      dtype='object')

In [57]:
df.size

30

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Germany to Canada
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    6 non-null      int64
 1   GDP           6 non-null      int64
 2   Surface Area  6 non-null      int64
 3   HDI           6 non-null      float64
 4   Continent     6 non-null      object
dtypes: float64(1), int64(3), object(1)
memory usage: 288.0+ bytes

In [59]:
df.shape

(6, 5)

In [60]:
df.describe()

       Population           GDP  Surface Area       HDI
count    6.000000  6.000000e+00  6.000000e+00  6.000000
mean    39.166667  3.220572e+07  8.545810e+05  0.897833
std     26.301458  1.836286e+07  1.620995e+06  0.011669
min      8.000000  1.518216e+07  1.515000e+03  0.880000
25%     21.000000  1.597584e+07  1.524368e+05  0.891750
50%     34.500000  2.959483e+07  2.030195e+05  0.898500
75%     57.750000  4.529778e+07  3.752740e+05  0.907500
max     76.000000  5.689424e+07  4.151664e+06  0.910000

In [63]:
# dtypes (pandas) not dtype as in numpy
# object in this case is a string basically

df.dtypes

Population        int64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [64]:
df.dtypes.value_counts()

int64      3
float64    1
object     1
Name: count, dtype: int64

In [65]:
df

               Population       GDP  Surface Area    HDI Continent
Germany                42  17648125        151854  0.910    Europe
Argentina              63  56894236        416414  0.890   America
Japan                  19  15182159       4151664  0.880      Asia
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe
Canada                  8  46549863          1515  0.910   America

## Filtering in Pandas DataFrames (The returned results are Series)

### By index

In [17]:
df.loc["Canada"]

Population             8
GDP             46549863
Surface Area        1515
HDI                 0.91
Continent        America
Name: Canada, dtype: object

### By sequential position

In [8]:
df.iloc[-1]

Population             8
GDP             46549863
Surface Area        1515
HDI                 0.91
Continent        America
Name: Canada, dtype: object

### By Column (Series in the DataFrame)

In [15]:
df["Population"]

Germany          42
Argentina        63
Japan            19
United States    76
Italy            27
Canada            8
Name: Population, dtype: int64

In [16]:
df

               Population       GDP  Surface Area    HDI Continent
Germany                42  17648125        151854  0.910    Europe
Argentina              63  56894236        416414  0.890   America
Japan                  19  15182159       4151664  0.880      Asia
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe
Canada                  8  46549863          1515  0.910   America

In [19]:
#Prettier than just calling by column name
df["Population"].to_frame()

               Population
Germany                42
Argentina              63
Japan                  19
United States          76
Italy                  27
Canada                  8

### Slicing

In [20]:
df[["Population","GDP"]]

               Population       GDP
Germany                42  17648125
Argentina              63  56894236
Japan                  19  15182159
United States          76  15418415
Italy                  27  41541541
Canada                  8  46549863

In [23]:
df.loc["Argentina":"Italy"]

               Population       GDP  Surface Area    HDI Continent
Argentina              63  56894236        416414  0.890   America
Japan                  19  15182159       4151664  0.880      Asia
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe

In [34]:
# WITH A SECOND DIMENSION
#loc just for objects (strings) 
          #Keys             #Columns value as a "list" in reality they are NumPy arrays
df.loc["Argentina":"Italy", ["Continent","Surface Area"]]

              Continent  Surface Area
Argentina       America        416414
Japan              Asia       4151664
United States   America        251854
Italy            Europe        154185

In [35]:
df.iloc[[0,2,3,-1]]

               Population       GDP  Surface Area   HDI Continent
Germany                42  17648125        151854  0.91    Europe
Japan                  19  15182159       4151664  0.88      Asia
United States          76  15418415        251854  0.90   America
Canada                  8  46549863          1515  0.91   America

In [36]:
#iloc just for numbers

df.iloc[0:3, 3]

Germany      0.91
Argentina    0.89
Japan        0.88
Name: HDI, dtype: float64

### Boolean Assessment

In [53]:
# RETURNS A SERIE

df["Population"] > 70

Germany          False
Argentina        False
Japan            False
United States     True
Italy            False
Canada           False
Name: Population, dtype: bool

### Boolean filtering

In [58]:
# By Columns RETURNS A DATAFRAME

df[df["Population"]>70]

               Population       GDP  Surface Area  HDI Continent
United States          76  15418415        251854  0.9   America

In [59]:
#By Columns but less code-efficient RETURNS A DATAFRAME

#Condition to asses the indexes, #The returns we want to see
df.loc[df["Population"]>50, ["GDP","HDI"]]

                    GDP   HDI
Argentina      56894236  0.89
United States  15418415  0.90

### DROPPING (LIKE DISCARD)

In [60]:
#BY INDEX
df.drop(["Canada","Japan"])

               Population       GDP  Surface Area    HDI Continent
Germany                42  17648125        151854  0.910    Europe
Argentina              63  56894236        416414  0.890   America
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe

In [61]:
#BY COLUMNS
df.drop(columns=["Population","GDP"])

               Surface Area    HDI Continent
Germany              151854  0.910    Europe
Argentina            416414  0.890   America
Japan               4151664  0.880      Asia
United States        251854  0.900   America
Italy                154185  0.897    Europe
Canada                 1515  0.910   America

### OPERATIONS

In [70]:
#To broadcast or vectorize
crisis=pd.Series([-1_000_000,-0.3],index=["GDP","HDI"])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [71]:
#THE RESULT WILL BE WITH 1000000 less in GDP and 0.3 less in HDI
df[["GDP","HDI"]]+crisis

                      GDP    HDI
Germany        16648125.0  0.610
Argentina      55894236.0  0.590
Japan          14182159.0  0.580
United States  14418415.0  0.600
Italy          40541541.0  0.597
Canada         45549863.0  0.610

### Modifying a frame

In [26]:
#This is for adding Japanese,English and Italian in the indexes Japan, United States and Italy with the name of the column "Languages"
langs=pd.Series(["Japanese","English","Italian"],
                 index=["Japan", "United States","Italy"],
                 name="Languages"
                 #name of the Series
               )

In [48]:
#Then adding a new column with the name "Language" and is gonna be equal to the "Series" langs 

df["Language"]=langs

In [31]:
#Finally, we call "df" and we are gonna retrieve a DataFrame with the previously added column called "Language" and all its respective added languages
df

               Population       GDP  Surface Area    HDI Continent  Language
Germany                42  17648125        151854  0.910    Europe       NaN
Argentina              63  56894236        416414  0.890   America       NaN
Japan                  19  15182159       4151664  0.880      Asia  Japanese
United States          76  15418415        251854  0.900   America   English
Italy                  27  41541541        154185  0.897    Europe   Italian
Canada                  8  46549863          1515  0.910   America       NaN

In [36]:
#To add the same string to all the rows in the column "Language" MUTABLE (REMAINS THE SAME DATAFRAME FROM NOW ON)
df["Language"]="Lang"

In [78]:
df

               Population       GDP  Surface Area    HDI Continent Language
Germany                42  17648125        151854  0.910    Europe     Lang
Argentina              63  56894236        416414  0.890   America     Lang
Japan                  19  15182159       4151664  0.880      Asia     Lang
United States          76  15418415        251854  0.900   America     Lang
Italy                  27  41541541        154185  0.897    Europe     Lang
Canada                  8  46549863          1515  0.910   America     Lang

In [34]:
# ".RENAME() METHOD" TO MODIFY THE NAMES OF THE COLUMNS AND INDEXES
# Not mutable
df.rename(
    columns={
        "HDI":"Human Development Index",
        "Anual Popcorn Consumption":"APC"
        #This last one is one example that doesn't modify anything
    },
    index={
        "USA":"United States",
        "UK":"United Kingdom"
    }
    
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Germany,42,17648125,151854,0.910,Europe,Lang
Argentina,63,56894236,416414,0.890,America,Lang
Japan,19,15182159,4151664,0.880,Asia,Lang
United States,76,15418415,251854,0.900,America,Lang
Italy,27,41541541,154185,0.897,Europe,Lang
Canada,8,46549863,1515,0.910,America,Lang

In [35]:
df

               Population       GDP  Surface Area    HDI Continent Language
Germany                42  17648125        151854  0.910    Europe     Lang
Argentina              63  56894236        416414  0.890   America     Lang
Japan                  19  15182159       4151664  0.880      Asia     Lang
United States          76  15418415        251854  0.900   America     Lang
Italy                  27  41541541        154185  0.897    Europe     Lang
Canada                  8  46549863          1515  0.910   America     Lang

### Adding a new column with an operation between the existing columns

In [37]:
df["GDP Per Capita"]= df["GDP"]/df["Population"]
df

,Population,GDP,Surface Area,HDI,Continent,Language,GDP Per Capita
Germany,42,17648125,151854,0.910,Europe,Lang,4.201935e+05
Argentina,63,56894236,416414,0.890,America,Lang,9.030831e+05
Japan,19,15182159,4151664,0.880,Asia,Lang,7.990610e+05
United States,76,15418415,251854,0.900,America,Lang,2.028739e+05
Italy,27,41541541,154185,0.897,Europe,Lang,1.538576e+06
Canada,8,46549863,1515,0.910,America,Lang,5.818733e+06

In [83]:
df.head()

,Population,GDP,Surface Area,HDI,Continent,Language,GDP Per Capita
Germany,42,17648125,151854,0.910,Europe,Lang,4.201935e+05
Argentina,63,56894236,416414,0.890,America,Lang,9.030831e+05
Japan,19,15182159,4151664,0.880,Asia,Lang,7.990610e+05
United States,76,15418415,251854,0.900,America,Lang,2.028739e+05
Italy,27,41541541,154185,0.897,Europe,Lang,1.538576e+06

In [86]:
#Just a "Series"
df["GDP"]/df["Population"]

Germany          4.201935e+05
Argentina        9.030831e+05
Japan            7.990610e+05
United States    2.028739e+05
Italy            1.538576e+06
Canada           5.818733e+06
dtype: float64

In [38]:
df.rename(index=str.upper)

,Population,GDP,Surface Area,HDI,Continent,Language,GDP Per Capita
GERMANY,42,17648125,151854,0.910,Europe,Lang,4.201935e+05
ARGENTINA,63,56894236,416414,0.890,America,Lang,9.030831e+05
JAPAN,19,15182159,4151664,0.880,Asia,Lang,7.990610e+05
UNITED STATES,76,15418415,251854,0.900,America,Lang,2.028739e+05
ITALY,27,41541541,154185,0.897,Europe,Lang,1.538576e+06
CANADA,8,46549863,1515,0.910,America,Lang,5.818733e+06

In [40]:
df.rename(index=lambda x:x.capitalize())

,Population,GDP,Surface Area,HDI,Continent,Language,GDP Per Capita
Germany,42,17648125,151854,0.910,Europe,Lang,4.201935e+05
Argentina,63,56894236,416414,0.890,America,Lang,9.030831e+05
Japan,19,15182159,4151664,0.880,Asia,Lang,7.990610e+05
United states,76,15418415,251854,0.900,America,Lang,2.028739e+05
Italy,27,41541541,154185,0.897,Europe,Lang,1.538576e+06
Canada,8,46549863,1515,0.910,America,Lang,5.818733e+06

In [41]:
df.rename(index=str.lower)

,Population,GDP,Surface Area,HDI,Continent,Language,GDP Per Capita
germany,42,17648125,151854,0.910,Europe,Lang,4.201935e+05
argentina,63,56894236,416414,0.890,America,Lang,9.030831e+05
japan,19,15182159,4151664,0.880,Asia,Lang,7.990610e+05
united states,76,15418415,251854,0.900,America,Lang,2.028739e+05
italy,27,41541541,154185,0.897,Europe,Lang,1.538576e+06
canada,8,46549863,1515,0.910,America,Lang,5.818733e+06

In [56]:
#DROP WITH "INPLACE" IF IT'S TRUE IT'S MUTABLE AND THEN YOU DON'T HAVE THE COLUMN YOU DROPPED AGAIN 

#IN THIS CASE IT'S FALSE SO YOU RETRIEVE IT WITHOUT THE COLUMN ONCE BUT IT'S STILL IN THE ORIGINAL DATAFRAME

df.drop(columns="Language", inplace=False)

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Germany,42,17648125,151854,0.910,Europe,4.201935e+05
Argentina,63,56894236,416414,0.890,America,9.030831e+05
Japan,19,15182159,4151664,0.880,Asia,7.990610e+05
United States,76,15418415,251854,0.900,America,2.028739e+05
Italy,27,41541541,154185,0.897,Europe,1.538576e+06
Canada,8,46549863,1515,0.910,America,5.818733e+06

In [57]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita,Language
Germany,42,17648125,151854,0.910,Europe,4.201935e+05,NaN
Argentina,63,56894236,416414,0.890,America,9.030831e+05,NaN
Japan,19,15182159,4151664,0.880,Asia,7.990610e+05,Japanese
United States,76,15418415,251854,0.900,America,2.028739e+05,English
Italy,27,41541541,154185,0.897,Europe,1.538576e+06,Italian
Canada,8,46549863,1515,0.910,America,5.818733e+06,NaN

In [71]:
#TO ADD A NEW INDEX WITH VALUES FOR THE COLUMNS WE WANNA ADD

China= pd.DataFrame({"Population":[3], "GDP":[5]}, index=["China"])

In [81]:
#APPEND IS DEPRECATED
#CONCAT IS NOT MUTABLE SO IT CHANGES ONCE AND RETRIEVES ONCES
pd.concat([df,China])

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita,Language
Germany,42,17648125.0,151854.0,0.910,Europe,4.201935e+05,NaN
Argentina,63,56894236.0,416414.0,0.890,America,9.030831e+05,NaN
Japan,19,15182159.0,4151664.0,0.880,Asia,7.990610e+05,Japanese
United States,76,15418415.0,251854.0,0.900,America,2.028739e+05,English
Italy,27,41541541.0,154185.0,0.897,Europe,1.538576e+06,Italian
Canada,8,46549863.0,1515.0,0.910,America,5.818733e+06,NaN
China,1400,NaN,NaN,NaN,Asia,NaN,NaN
China,3,5.0,NaN,NaN,NaN,NaN,NaN

In [85]:
#MUTABLE SO IT CHANGES THE ORIGINAL
df.loc["China"]=pd.Series({"Population":1400,"Continent":"Asia"})

In [86]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita,Language
Germany,42,17648125.0,151854.0,0.910,Europe,4.201935e+05,NaN
Argentina,63,56894236.0,416414.0,0.890,America,9.030831e+05,NaN
Japan,19,15182159.0,4151664.0,0.880,Asia,7.990610e+05,Japanese
United States,76,15418415.0,251854.0,0.900,America,2.028739e+05,English
Italy,27,41541541.0,154185.0,0.897,Europe,1.538576e+06,Italian
Canada,8,46549863.0,1515.0,0.910,America,5.818733e+06,NaN
China,1400,NaN,NaN,NaN,Asia,NaN,NaN

In [90]:
#TO RESET AND SHOW THE NUMERICAL INDEXES
df.reset_index()

,index,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita,Language
0,Germany,42,17648125.0,151854.0,0.910,Europe,4.201935e+05,NaN
1,Argentina,63,56894236.0,416414.0,0.890,America,9.030831e+05,NaN
2,Japan,19,15182159.0,4151664.0,0.880,Asia,7.990610e+05,Japanese
3,United States,76,15418415.0,251854.0,0.900,America,2.028739e+05,English
4,Italy,27,41541541.0,154185.0,0.897,Europe,1.538576e+06,Italian
5,Canada,8,46549863.0,1515.0,0.910,America,5.818733e+06,NaN
6,China,1400,NaN,NaN,NaN,Asia,NaN,NaN

In [88]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita,Language
Germany,42,17648125.0,151854.0,0.910,Europe,4.201935e+05,NaN
Argentina,63,56894236.0,416414.0,0.890,America,9.030831e+05,NaN
Japan,19,15182159.0,4151664.0,0.880,Asia,7.990610e+05,Japanese
United States,76,15418415.0,251854.0,0.900,America,2.028739e+05,English
Italy,27,41541541.0,154185.0,0.897,Europe,1.538576e+06,Italian
Canada,8,46549863.0,1515.0,0.910,America,5.818733e+06,NaN
China,1400,NaN,NaN,NaN,Asia,NaN,NaN

In [94]:
#TO SEE POPULATION AS THE INDEX COLUMN ONCE (MUTABLE)
df.set_index("Population")

,GDP,Surface Area,HDI,Continent,GDP Per Capita,Language
Population,,,,,,
42,17648125.0,151854.0,0.910,Europe,4.201935e+05,NaN
63,56894236.0,416414.0,0.890,America,9.030831e+05,NaN
19,15182159.0,4151664.0,0.880,Asia,7.990610e+05,Japanese
76,15418415.0,251854.0,0.900,America,2.028739e+05,English
27,41541541.0,154185.0,0.897,Europe,1.538576e+06,Italian
8,46549863.0,1515.0,0.910,America,5.818733e+06,NaN
1400,NaN,NaN,NaN,Asia,NaN,NaN

In [92]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita,Language
Germany,42,17648125.0,151854.0,0.910,Europe,4.201935e+05,NaN
Argentina,63,56894236.0,416414.0,0.890,America,9.030831e+05,NaN
Japan,19,15182159.0,4151664.0,0.880,Asia,7.990610e+05,Japanese
United States,76,15418415.0,251854.0,0.900,America,2.028739e+05,English
Italy,27,41541541.0,154185.0,0.897,Europe,1.538576e+06,Italian
Canada,8,46549863.0,1515.0,0.910,America,5.818733e+06,NaN
China,1400,NaN,NaN,NaN,Asia,NaN,NaN

In [95]:
population=df["Population"]

In [98]:
#This is the artithmetic MEAN
population.sum()/len(population)

np.float64(233.57142857142858)

In [100]:
#You can prove it here
population.mean()

np.float64(233.57142857142858)

In [101]:
population.min(),population.max()

(np.int64(8), np.int64(1400))

In [102]:
population.std()

np.float64(514.9067414405762)

In [103]:
population.median()

np.float64(42.0)

In [105]:
#SORTED ASCENDING
population.sort_values()

Canada              8
Japan              19
Italy              27
Germany            42
Argentina          63
United States      76
China            1400
Name: Population, dtype: int64

In [107]:
#SORTED DESCENDING
population.sort_values(ascending=False)

China            1400
United States      76
Argentina          63
Germany            42
Italy              27
Japan              19
Canada              8
Name: Population, dtype: int64

In [108]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita,Language
Germany,42,17648125.0,151854.0,0.910,Europe,4.201935e+05,NaN
Argentina,63,56894236.0,416414.0,0.890,America,9.030831e+05,NaN
Japan,19,15182159.0,4151664.0,0.880,Asia,7.990610e+05,Japanese
United States,76,15418415.0,251854.0,0.900,America,2.028739e+05,English
Italy,27,41541541.0,154185.0,0.897,Europe,1.538576e+06,Italian
Canada,8,46549863.0,1515.0,0.910,America,5.818733e+06,NaN
China,1400,NaN,NaN,NaN,Asia,NaN,NaN

In [109]:
population.quantile(.25)

np.float64(23.0)

In [110]:
population.quantile(.1)

np.float64(14.600000000000001)

In [115]:
population.quantile(.35)

np.float64(28.499999999999993)