In [1]:
import sys
sys.path.append('/home/oscar/py_envs/lib/python3.12/site-packages')

In [2]:
import numpy as np
import pandas as pd

# DATAFRAME

A Dataframe column is like a Serie

In [13]:
D=np.random.randint(100, size=(1,6), dtype="int8")

In [14]:
D

array([[42, 63, 19, 76, 27,  8]], dtype=int8)

In [29]:
df=pd.DataFrame({
    "Population" : [42, 63, 19, 76, 27,  8],
    "GDP" : [
        17648125,
        56894236,
        15182159,
        15418415,
        41541541,
        46549863
    ],
    "Surface Area":[
        151854,
        416414,
        4151664,
        251854,
        154185,
        1515
    ],
    "HDI":[
        0.91,
        0.89,
        0.88,
        0.90,
        0.897,
        0.91    
    ],
    "Continent":[
        "Europe",
        "America",
        "Asia",
        "America",
        "Europe",
        "America"
    ] 
}, columns=["Population", "GDP", "Surface Area", "HDI", "Continent"])

# the columns attribute is optional

In [44]:
df.index=["Germany","Argentina","Japan","United States","Italy","Canada"]

In [53]:
# a DataFrame is pretty much like a 2D NunPy array

df

               Population       GDP  Surface Area    HDI Continent
Germany                42  17648125        151854  0.910    Europe
Argentina              63  56894236        416414  0.890   America
Japan                  19  15182159       4151664  0.880      Asia
United States          76  15418415        251854  0.900   America
Italy                  27  41541541        154185  0.897    Europe
Canada                  8  46549863          1515  0.910   America

## Pandas Functions

In [56]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [57]:
df.size

30

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Germany to Canada
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    6 non-null      int64
 1   GDP           6 non-null      int64
 2   Surface Area  6 non-null      int64
 3   HDI           6 non-null      float64
 4   Continent     6 non-null      object
dtypes: float64(1), int64(3), object(1)
memory usage: 288.0+ bytes

In [59]:
df.shape

(6, 5)

In [60]:
df.describe()

       Population           GDP  Surface Area       HDI
count    6.000000  6.000000e+00  6.000000e+00  6.000000
mean    39.166667  3.220572e+07  8.545810e+05  0.897833
std     26.301458  1.836286e+07  1.620995e+06  0.011669
min      8.000000  1.518216e+07  1.515000e+03  0.880000
25%     21.000000  1.597584e+07  1.524368e+05  0.891750
50%     34.500000  2.959483e+07  2.030195e+05  0.898500
75%     57.750000  4.529778e+07  3.752740e+05  0.907500
max     76.000000  5.689424e+07  4.151664e+06  0.910000

In [61]:
# dtypes (pandas) not dtype as in numpy

df.dtypes

Population        int64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [62]:
df.dtypes.value_counts()

int64      3
float64    1
object     1
Name: count, dtype: int64