In [1]:
import sys
sys.path.append('/home/oscar/py_envs/lib/python3.12/site-packages')

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [10]:
df=pd.read_csv("/home/oscar/Desktop/Data Analytics Course/btc-market-price.csv")

In [12]:
df.head()

   2017-04-02 00:00:00  1099.169125
0  2017-04-03 00:00:00  1141.813000
1  2017-04-04 00:00:00  1141.600363
2  2017-04-05 00:00:00  1133.079314
3  2017-04-06 00:00:00  1196.307937
4  2017-04-07 00:00:00  1190.454250

In [13]:
df=pd.read_csv("/home/oscar/Desktop/Data Analytics Course/btc-market-price.csv", header=None)

In [15]:
df.head()

                     0            1
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [17]:
df.columns=["Timestamp","Price"]

In [21]:
df.shape

(365, 2)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  365 non-null    object
 1   Price      365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [29]:
#By default shows the first 5 bit you can indicate how many to show between the round brackets
df.head(8)

             Timestamp        Price
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937
5  2017-04-07 00:00:00  1190.454250
6  2017-04-08 00:00:00  1181.149838
7  2017-04-09 00:00:00  1208.800500

In [30]:
#Similar to .head() but show the last rows
df.tail(3)

               Timestamp        Price
362  2018-03-30 00:00:00  6882.531667
363  2018-03-31 00:00:00  6935.480000
364  2018-04-01 00:00:00  6794.105000

In [31]:
df.dtypes

Timestamp     object
Price        float64
dtype: object

In [37]:
#The timestamp is retrieved as an object but we want it as a date itself

pd.to_datetime(df["Timestamp"]).head()

0   2017-04-02
1   2017-04-03
2   2017-04-04
3   2017-04-05
4   2017-04-06
Name: Timestamp, dtype: datetime64[ns]

In [34]:
df["Timestamp"]=pd.to_datetime(df["Timestamp"])

In [36]:
df.dtypes

Timestamp    datetime64[ns]
Price               float64
dtype: object

In [38]:
df.set_index(df["Timestamp"], inplace=True)

In [40]:
df.head()

            Timestamp        Price
Timestamp
2017-04-02 2017-04-02  1099.169125
2017-04-03 2017-04-03  1141.813000
2017-04-04 2017-04-04  1141.600363
2017-04-05 2017-04-05  1133.079314
2017-04-06 2017-04-06  1196.307937

In [44]:
df.loc["2017-09-29"]

Timestamp    2017-09-29 00:00:00
Price                4193.574667
Name: 2017-09-29 00:00:00, dtype: object